requests
flask
alabaster==0.7.12
Babel==2.9.1
docutils==0.14
gitdb==0.6.4
GitPython==1.0.1
imagesize==1.1.0
Jinja2==2.10.1
lxml==4.3.3
MarkupSafe==1.1.1
pyang==1.6
pybind11==2.2.4
pygit==0.1
Pygments==2.3.1
python-git==2018.2.1
pytz==2019.1
rstr==2.2.6
ruamel.yaml==0.15.92
Send2Trash==1.5.0
six==1.12.0
smmap==0.9.0
snowballstemmer==1.2.1
Sphinx==1.4a1
sphinx-rtd-theme==0.1.9