{% extends 'layout.html' %}

{% block body %}
    <h1>Show config</h1>
    <table class="table table-striped">
        <tr>
            <th>Preference</th>
            <th>Show Segment List</th>
        </tr>
        <tr>
            <td>{{candidate_path['preference']}}</td>
            <td><a href="/show/policy/{{name}}/candidatepath/{{candidate_path_id}}/segmentlist/{{candidate_path['id']}}" class="btn btn-primary pull-left" type="submit" value="Segment List Detail">Segment List Detail</a> </td>
        </tr>
    </table>
{% endblock %}