{% extends 'layout.html' %}

{% block body %}
    <h1>Show Segment List</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Show Candidate Path</th>
        </tr>
        {% for item in segment_list %}
            <tr>
                <td>{{item['name']}}</td>
                <td><a href="/show/candidatepath/{{config['id']}}" class="btn btn-primary pull-left" type="submit" value="Policy Detail">Policy Detail</a> </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}