{% extends 'layout.html' %}

{% block body %}
    <h1>Show Segment List</h1>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Show Candidate Path</th>
        </tr>
        {% for segment in segment_list %}
            {% for label in label_list %}
                <tr>
                    <td>{{segment['name']}}</td>
                    <td>{{label['label']}}</td>
                </tr>
            {% endfor %}
        {% endfor %}
    </table>
    <p><a href="/show/policy/{{name}}/candidatepath/{{candidate_path}}" class="btn btn-primary pull-left" type="submit" value="Back">Go back</a></p>
{% endblock %}